// ThreadDetail.scss

.thread-detail {
	// background: hsl(200,100%,25%);
    min-height: calc(100vh - 50px);

	--bg: #293642;
	--fg: #d6d6d6;

	header.thread-header {
	    background: var(--bg);
	    border-style: solid;
	    border-width: 0 0 2px 0;
		color: var(--fg);
		font-size: 150%;
	    height: 25px;
		margin: 0;
	    padding: 20px;
	    position: sticky;
	    top: 70px;
	    z-index: 130;
	    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
	}

	.posts {
		.post-detail {
			background: var(--bg);
			color: var(--fg);

			margin: 20px;

			.post-body {
				margin: 20px;
				padding-bottom: 20px;
			}

			.post-header {
			    margin: 0;
			    padding: 20px;
			    border-width: 0 0 5px 0;
			    border-style: solid;
			    position: sticky;
			    top: 70px;
			    background: var(--bg);
			    z-index: 130;
			    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
			}
		}
	}
}